<nav class="navbar navbar-expand-sm " style="background-color:#dee2e6;">
  <div class="container-fluid">
    <%= link_to "Alpha blog", root_path, class:"navbar-brand  "  %> 
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
      <% if @current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <%= link_to "List articles", articles_path, class:"dropdown-item" %>
             <%= link_to "New articles", new_article_path, class:"dropdown-item" %>
        
          </ul>
        </li>
        <% end %>
        <% if @current_user %>
        <%= link_to "Users", users_path , class:"nav-link" %>
        <% end %>
      </ul>
       <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 

      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
      <% if @current_user %>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= @current_user.username %>
                    <%= "Admin" if @current_user.admin? %>
                    </a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <%= link_to "Edit you profile",  edit_user_path(@current_user), class:"dropdown-item" %>
                     <%= link_to "View your profile",  user_path(@current_user), class:"dropdown-item" %>

                   </ul>
               </li>
           </ul>
      
        <%=  button_to "Sign out" , logout_path, method: :delete , class:"btn bnt-outline-secondary" %>
          <% else %>
          <%= link_to "Sign up", signup_path, class:"nav-link" %>
          <%= link_to "Sign in", sign_in_path , class:"nav-link" %>
      
     <% end %>

    </div>
    </div>
  </div>
</nav>